$color-header-bg: #e4e4e4;
$colors-count: 20;
@for $i from 1 through $colors-count {
  .color-#{$i} {
    $color: hsl($i * ($colors-count - 1), 60, 70);
    background: linear-gradient(to bottom, lighten($color, 20%), $color);
  }
}