@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/subset-RobotoMono-Thin.eot');
  src: url('../fonts/subset-RobotoMono-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/subset-RobotoMono-Thin.woff2') format('woff2'),
      url('../fonts/subset-RobotoMono-Thin.woff') format('woff'),
      url('../fonts/subset-RobotoMono-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

$ff-monospace: 'Roboto Mono, monospace';