html {
  box-sizing: border-box;

  font-size: 10px;
  hyphens: auto; // not supported in chrome
}

*, *:before, *:after {
  box-sizing: inherit;

  @include outline;
}


body {
  padding-top: $header-height;
  font-family: sans-serif;
}

.hidden {
//  position: absolute;
  z-index: -1;
  opacity: 0;
  transform: translateY(-100%);
}