.countr-btn {
  @include transition;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-grow: 0;
  flex-shrink: 0;

  width: $default-size;
  height: $default-size;

  user-select: none;
  cursor: pointer;

  opacity: 0.5;


  &--half {
    width: ($default-size / 2);
    height: ($default-size / 2);
  }

  &--2x {
    width: ($default-size * 2);
    height: ($default-size * 2);
  }

  &--circle {
    border: 2px solid $color-text-light;
    border-radius: 50%;
  }

  & > * {
    @include outline($color: blue);
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}