.countr {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: $default-padding;

  &__header {
    flex-grow: 1;
    margin: 0;
    padding: 0;

    font-weight: 100;
    text-align: center;
  }

  &__delete {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    @include transition;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    font-size: 3rem;
    color: #fff;

    .fa {
      /// компенсация базовой линии
      padding-top: 0.5rem;
    }
  }

  &__value {
    flex-grow: 1;
    margin-right: 1rem;

    font-family: monospace;
    font-size: 7rem;
    text-align: right;
    color: #fff;

    user-select: none;
  }

}