$countr-header: 'countr-header';

.#{$countr-header} {
  @include transition;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: $header-height;
  padding: $default-padding;

  font-size: 5rem;
  background-color: transparentize($color-header-bg, 0.1);

  &--shadow {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  }

  &__title {
//    flex-grow: 1;
    position: relative;

    margin: 0;
    padding: 0;
    padding-right: 4rem;

    font-size: 1em;
    line-height: 1;
    font-weight: 100;
    text-transform: lowercase;

    cursor: pointer;
    user-selection: none;

    &:after {
      content: '\203A';

      position: absolute;
      top: 0;
      right: 0;

      display: block;
      transform: rotateZ(90deg);
    }
  }

  &__buttons {
    display: flex;
    font-size: 0.6em;
    color: #00c0ff;
  }

  &__current-game {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    font-size: 0.2em;
  }

  &__games {
    position: absolute;
    top: $header-height;
    left: 0;

    font-size: 0.5em;

  }
}